.navWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.list {
  display: flex;
}

.link {
  color: #ffffff;
  text-transform: uppercase;
}

.activeLink {
  background-color: rgba(0, 0, 0, 0.1);
}

nav {
  background-color: #26a69a;
}
