.wrap {
  margin-bottom: 40px;
}

.wrapTasks {
  border: 3px solid rgb(25, 0, 255);
  border-radius: 10px;
  padding: 40px;
}

.title {
  font-weight: 600;
  margin-bottom: 50px;
}

.text {
  margin-bottom: 20px;
}

.titleTask {
  display: block;
  font-weight: 600;
  font-size: 16px;
  color: rgb(25, 0, 255);
}

.input {
  margin-bottom: 20px;
}

.disableText {
  text-align: center;
  color: rgb(209, 207, 207);
}

.wrapCorrectAnswer {
  position: relative;
}

.correctAnswer {
  padding: 35px;
  margin: 0;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.33);
}

.correctAnswer::before {
  position: absolute;
  top: 25px;
  left: 0;
  content: '';
  display: inline-block;
  background: rgb(25, 0, 255);
  width: 3px;
  height: 100px;
}

.correctAnswers {
  padding: 35px;
  margin: 0;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.33);
  margin-bottom: 40px;
}

.correctAnswers::before {
  position: absolute;
  top: 60px;
  left: 0;
  content: '';
  display: inline-block;
  background: rgb(25, 0, 255);
  width: 3px;
  height: 280px;
}

@media screen and (max-width: 767px) {
  .wrapTasks {
    padding: 15px;
  }
}
