.wrapper {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.title {
  font-weight: 700;
  font-size: 28;
}

.block {
  margin-bottom: 60px;
}

.boltText {
  display: block;
  margin-bottom: 60px;
}

.containerChat {
  margin-bottom: 40px;
}
