.boxTest {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.title {
  text-align: center;
}

.testLogo {
  display: block;
  margin: 0 auto;
}

.text {
  text-align: center;
}

.btn {
  display: block;
  margin: 0 auto;
  border: none;
  width: 328px;
  height: 50px;
  text-align: center;
  background-color: #4a20ef;
  color: white;
  border-radius: 30px;
}

.btn:hover {
  cursor: pointer;
}
