.chatBlock {
  display: flex;
  margin-bottom: 20px;
}

.wrapProfile {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.profile {
  height: 100%;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 50%;
}

.wrapContent {
  margin-right: 170px;
  padding: 15px;
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
}

.content {
  margin: 0;
}
