.chatBlock {
  display: flex;
  margin-bottom: 20px;
}

.wrapProfile {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.profile {
  height: 100%;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 50%;
}

.wrapContent {
  width: 420px;
  padding: 15px;
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
}

.content {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .wrapContent {
    width: 250px;
  }

  .wrapProfile {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}
